/*
COLORES USADOS

Azul Marino = #00091e
*/

body
{
	display: flex;
	font-family: 'Lato', sans-serif;
	flex-direction: column;
}

a
{
	color:white;
	font-weight: 700;
	text-decoration: underline;
}

a:hover
{
	color:rgba(255,255,255,0.4);
}

article
{
	margin:20px 0;
}

button
{
	background: rgba(255, 68, 84, 1);
	border-radius: 0;
	color:white;
	margin-bottom:4em;
	text-transform: uppercase;
	width: 100%;
}

button:hover
{
	color:rgba(255,255,255,.8);
}

header img
{
	margin:0 auto;
	width: 50%;
}

p
{
	color:white;
	font-size: 14px;
	text-align: left;
}

.link
{
	color:white;
	font-weight: 700;
	text-decoration: underline;
}

section#plantillaCorreo
{
	background: rgba(0, 0, 0, .7);
	margin-top:2em;
	padding: 30px;
	border-radius: 20px;
}

	section#plantillaCorreo h2
	{
		color:white;
		font-size: 40px;
		font-weight: 700;
		margin:0 0 20px 0;
		text-align: center;
		text-transform: uppercase;
	}

	section#plantillaCorreo article
	{

	}

.subTitulo
{
	color:white;
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
	margin: 0 0 14px 0;
}

footer p
{
	font-size: .8em;
	margin-top:2em;
	text-align: center;
}

table
{
	margin-bottom:25px;
	width: 100%;
}

table tr
{
	background-color: rgba(255,255,255,.3);
	color:white;
	font-size: 16px;
}

table td
{
	padding:10px;
}
.tablaCode
{
	color:white;
	margin-bottom:25px;
	width: 100%;
}

.tablaCode tr:nth-child(even)
{
	background-color: rgba(0,0,0,.5);
}

.tablaCode tr:nth-child(odd)
{
	background-color: rgba(0,0,0,.3);
}

.tablaCode tr:first-child
{
	background-color: rgba(255,255,255,.3);
	font-size: 16px;
	font-weight: 700;
}


.tablaCode td
{
	padding:6px;
}