/*
COLORES USADOS

Azul Marino = #00091e
*/

body
{
	display: flex;
	font-family: 'Lato', sans-serif;
	flex-direction: column;
}

a
{
	color:white;
	font-weight: 700;
	text-decoration: underline;
}

a:hover
{
	color:rgba(255,255,255,0.4);
}

article
{
	margin:20px 0;
}

p
{
	color:white;
	font-size: 15px;
	text-align: left;
}

footer p
{
	font-size: .8em;
	margin-top:2em;
	text-align: center;
}

header img
{
	margin:0 auto;
	width: 50%;
}

section#plantillaIndex
{
	background: rgba(0, 0, 0, .7);
	margin-top:2em;
	padding: 30px;
	border-radius: 20px;
}
.tabla
{
	color:white;
	margin-bottom:25px;
	width: 100%;
}
	section#plantillaIndex h2
	{
		color:white;
		font-size: 40px;
		font-weight: 700;
		margin:0 0 20px 0;
		text-align: center;
		text-transform: uppercase;
	}

	section#plantillaIndex article
	{

	}

table
{
	margin-bottom:25px;
	width: 100%;
}

table tr
{
	background-color: rgba(255,255,255,.3);
	color:white;
	font-size: 16px;
}

table td
{
	padding:10px;
}

.link
{
	color:white;
	font-weight: 700;
	text-decoration: underline;
}

.subTitulo
{
	color:white;
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
	margin: 0 0 14px 0;
}